# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\food\blockchain-trace-pc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
